@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: darkslategrey;
    list-style: none;
    box-sizing: border-box;
}

body{
    background-color: lightgray;
    font-family: 'Gentium Book Basic', serif;
    font-size: 16px;
    box-sizing: border-box;
    width: 100%;
}
h1{
    text-transform: capitalize;
}

nav{
    padding-block: 2em;
    /*background-image: linear-gradient(53deg, #ccfffc, #ffcccf);*/
    height: 6.3125em;
}

nav ul{
    justify-content: space-around;
}

nav ul li a{
    color: slategray;
    text-transform: uppercase;
    font-weight: bold;
    transition: .3s ease-in-out;
}
nav ul li a:hover{
    color: darkslategrey;
    text-shadow: 1px 5px 5px rgb(139, 139, 139);
    font-size: 18px;
    transform: translateX(20px);
}

#mainContainer{
    max-width: 65%;
    margin: auto;
}
.me{
    align-items: center;
    height: 95vh;
}

.box{
    height: 100vh;
}
.cap{
    text-transform: capitalize;
}
.m-c-length{
    word-break: ;
}

#cr-logo{
    height: 2em;
}


/*flex*/
.flex{
    display: flex;
}

/* flex row*/
.row{
    flex-direction: row;
}

/* flex column*/
.column{
    flex-direction: column;
}

/*space evenly*/
.se{
    justify-content: space-evenly;
}

/*justify content center*/
.jc-c{
    justify-content: center;
}

/*align center*/
.c{
    align-items: center;
}

/*align baseline*/
.bl{
    align-items: baseline;
}