@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: darkslategrey;
    list-style: none;
}
body{
    background-color: lightgray;
    font-family: 'Gentium Book Basic', serif;
    font-size: 16px;
}
h1{
    text-transform: capitalize;
}

nav{
    padding-block: 2em;
}
nav ul li a{
    color: slategray;
    text-transform: uppercase;
    font-weight: bold;
    padding: 2rem;
}
nav ul li a:hover{
    color: darkslategrey;
}

.me{
    align-items: center;
    height: 95vh;
}

.box{
    height: 100vh;
    align-items: center;
    align-content: center;
}



/*flex*/
.flex{
    display: flex;
}

/* flex row*/
.row{
    flex-direction: row;
}

/* flex column*/
.column{
    flex-direction: column;
}

/*space evenly*/
.se{
    justify-content: space-evenly;
}

/*align center*/
.ac{
    align-content: center;
}